### Python Foundation

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
BORDMAS
bracket 
of
reminder
division
multi
add
subtr

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [8]:
a = int(input())
if a % 2 == 0:
    print("even") 
else :
    print("odd")

56
even

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.

range(), nested if

In [9]:
for i in range(2000,3201,1):
    if i % 7 ==0 and i % 5 !=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [24]:
cint, cfloat, cstr, cbool, cnone = 0,0,0,0,0
for i in l1:
    if type(i) == int:
        cint = cint + 1
    elif type(i) == float:
        cfloat = cfloat + 1
    elif type(i) == str:
        cstr = cstr + 1
    elif i in [True, False]:
        cbool = cbool +1
    elif i == None:
        cnone = cnone + 1
print('int :',cint,'\nfloat :',cfloat,'\nstr :',cstr,'\nbool :',cbool,'\nNone :',cnone)

int : 5
float : 1
str : 4
bool : 1
None : 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
csum = 0
for i in l1:
    if type(i) in (int, float):
        csum = csum + i
print('sum :', csum)

sum : 21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [50]:
print('Py-10-SQL-John')

Py-10-SQL-John

In [58]:
ss = []
for i in l1:
    if type(i) == str:
        ss.append(i)
        
print(ss)
'-'.join(ss)

['Py', '10', 'SQL', 'John']

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [28]:
def my_func(a):
    csum = 0
    cstr = 0
    for i in a:
        if type(i) in (int,float):
            csum = csum+i
        elif type(i) == str:
            cstr = cstr +1
    return {'Sum':csum,'Count_of_Strs':cstr}

In [29]:
my_func(l1)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [30]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [33]:
# loop
lloop = []
for i in li:
    if i %2 !=0:
        lloop.append(i)
        
print(lloop)

[5, 7, 97, 77, 23, 73, 61]

In [46]:
# comprehensions
lcomp = [i for i in li if i %2 !=0]

In [47]:
print(lcomp)

[5, 7, 97, 77, 23, 73, 61]

In [45]:
# lambda
llmd = list(filter(lambda x : x  if x% 2 !=0 else 0, li))
print(llmd)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for the n number of input 
    numbers.

In [2]:
print("enter the number of element")
n = int(input())
l1 = list()
print('\nenter the numbers')
for i in range(n):
    l1.append(int(input()))
print(l1)

enter the number of element
3

enter the numbers
55
78
99
[55, 78, 99]

In [3]:
import numpy as np

In [7]:
def my_func1(a):
    return [sum(a),len(a),min(a),np.mean(a).round(2),max(a)]

print(my_func1(l1))

[232, 3, 55, 77.33, 99]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

def fn_area( shape, **kwargs ):
    
    if shape == 'square':
        Area = kwargs['side'] ** 2
    
    return Area
    
fn_area('square', side = 10)

In [17]:
def func(shape,**kwargs):
    if shape == 'square':
        area = kwargs['side']**2
    elif shape == 'rectangle':
        area = kwargs['length']*kwargs['width']
    elif shape == 'circle':
        area = kwargs['radius'] * kwargs['radius'] * 3.14
    elif shape== 'triangle':
        area = kwargs['base']*kwargs['heigth']*0.5
    else:
        area = 'Please enter the correct shape'
    return area

In [20]:
d = {'base':base}

In [21]:
d

{'base': 10}

In [22]:
s = input()
base1 = int(input())
heigth = int(input())

triangle
20
3

In [23]:
print('area :',func(s,base= base1, heigth=heigth))

area : 30.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [24]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [42]:
def func(l1, l2):
    ml1l2,ml1,ml2=[],[],[]
    for i in l1:
        if i in l2:
            ml1l2.append(i)
        else :
            ml1.append(i)
    for i in l2:
        if i not in l1:
            ml2.append(i)
    return ({'Matched':ml1l2,
                'Only in l1':ml1,
                    'Only in l2':ml2})

In [43]:
func(l1,l2)

{'Matched': ['January', 'February', 'June', 'December'],
 'Only in l1': ['March', 'May', 'September'],
 'Only in l2': ['April', 'October']}

print the table of 5 as below:
    
    5 x 1 = 5
    5 x 2 = 10
    .......
    5 x 10 = 50

In [5]:
for i in range(1,11):
    print('5 X',i,'=',5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50